#container {
    border: 1px solid rgb(0, 0, 0);
    margin: 20px auto;
    border-radius: 5px;
    width: fit-content;
}

#field {
    margin: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-image: url('/csi205/transparent-background-png-concrete-texture-design_53876-1012480.jpg');
    background-size: 100%;
    background-position: center;
    width: 760px;
    height: 300px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#ball {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    position: relative;
    background-size: cover;
    background-color: rgb(28, 39, 255);
    transform: rotate(0deg);
    transition: transform 0.1s linear;
}

#ball.spin {
    animation: spin 1s infinite linear;
}

#control {
    display: flex;
    justify-content: flex-start;
    /* ชิดซ้าย */
    align-items: center;
    gap: 10px;
    margin: 10px;
}

/* ปรับขนาดปุ่ม RUN ให้เด่นขึ้น */
#run {
    font-weight: bold;
    min-width: 100px;
}